.main_container {
  height: 100vh;
  width: 100%;
  background-color: #000000;
  overflow: hidden; }

.signup {
  height: 100%;
  width: 100%;
  background-color: #20346F;
  background-image: url("../../images/artboard 1.svg");
  background-repeat: no-repeat;
  background-size: 130vh;
  background-position: right center;
  background-attachment: fixed;
  overflow: hidden;
  position: relative; }

.signup_logo {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 2em;
  background-color: #C0120B;
  width: 75%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.logo_inner {
  background-color: #d9d9d9;
  padding-top: 1em;
  padding-bottom: 1em; }

.logo_logo {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1000px; }

.features {
  overflow: hidden;
  background-color: #C0120B;
  min-height: 100vh;
  background-image: url("../../images/osf_logo.svg");
  background-repeat: no-repeat;
  background-size: 130vh;
  background-position: left center;
  background-attachment: fixed; }

.featurelist {
  background-color: #d9d9d9;
  height: 100%;
  min-height: 100vh;
  width: 40%;
  float: right; }

.featurelist_inner {
  padding-top: 3em; }

.featureitem {
  height: auto;
  width: 100%;
  background-color: #d9d9d9;
  margin-bottom: 4em;
  position: relative; }

.featureitem--guide::before {
  content: "\f200";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: white;
  background-color: #20346F;
  font-size: 40px;
  line-height: 40px;
  padding: 10px;
  position: absolute;
  left: -10%;
  top: 0; }

.featureitem--phase::before {
  content: "\f021";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: white;
  background-color: #20346F;
  font-size: 40px;
  line-height: 40px;
  padding: 10px;
  position: absolute;
  left: -10%;
  top: 0; }

.featureitem--checkin::before {
  content: "\f274";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: white;
  background-color: #20346F;
  font-size: 40px;
  line-height: 40px;
  padding: 10px;
  position: absolute;
  left: -10%;
  top: 0; }

.featureitem_inner {
  height: 100%;
  width: 100%;
  background-color: #d9d9d9; }

.feature_text {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 200;
  padding-left: 1em;
  padding-right: 1em; }

.feature_heading {
  font-size: 30px;
  color: #C0120B; }

.spacer {
  height: 2em;
  background-color: #d9d9d9; }

@media screen and (max-width: 1224px) {
  .signup_logo {
    width: 100%;
    padding-right: 0; }
  .featurelist {
    margin-top: 30vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    float: none; } }

.signup_btmbox {
  position: absolute;
  bottom: 2em;
  width: 100%;
  padding: 1em 2em 1em 2em;
  background-color: #d9d9d9; }

.coming_sooner {
  background-color: #C0120B;
  height: auto;
  width: 100%;
  position: absolute;
  top: 5%;
  right: -20%;
  overflow: hidden;
  color: #d9d9d9;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  transform: rotate(25deg); }

.btn, .btn-large {
  background-color: #20346F !important; }

.submit {
  width: 100%; }

@media screen and (max-width: 600px) {
  .signup_logo {
    width: 100%;
    padding-right: 0; }
  .featurelist {
    margin-top: 30vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .featureitem--guide::before {
    content: ""; }
  .featureitem--phase::before {
    content: ""; }
  .featureitem--checkin::before {
    content: ""; }
  .coming_sooner {
    top: 0%;
    right: 0%;
    text-align: right;
    transform: rotate(0deg); } }
