<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OriginStoryFitness.Web</title>
    <link href="~/css/normalize.css" rel="stylesheet" />
    <environment include="Development">  
        <link href="~/dev/css/main_stylesheet.css" rel="stylesheet" />   
    </environment>
    <environment exclude="Development">
        <link href="~/css/main_stylesheet.css" rel="stylesheet" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900" rel="stylesheet">

</head>
<body class="container_inner">


        @RenderBody()     
 

    

    @RenderSection("Scripts", required: false)
</body>
</html>
