@page
@{Layout="_Layout.cshtml";}

<div class="main_container">
   
    <div class="signup-container">
      
        <div class="signup ">
            <video autoplay loop class="video-background" muted plays-inline>
                <source src="https://s3.eu-west-2.amazonaws.com/stewart-test-bucket/web/.mp4" type="video/mp4">
            </video>
            <div class="signup_logo-container ">

                <div class="signup_logo slideInLeft">
                    <div class="logo">
                        <div class="logo_inner">
                            <div class="logo_inner-left">
                                <div class="logo_inner--text"> Stu</div>
                            </div>
                            <div class="logo_inner-right">
                                <div class="logo_inner--text"> Mac PT </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
     
    </div>
    <div class="spacer">

        <div class="signup_btmbox">
            <div id="form_signup">
                <div class=" row">
                    <span class="btmbox_heading" id="result">Be the first to find out when we go live and get the heads up on some exclusive goodies!</span>
                    <span class="btmbox_heading" id="mce-error-response">Be the first to find out when we go live and get the heads up on some exclusive goodies!</span>
                </div>
                <div class="row">
                    
                    <span class="btmbox_heading" id="mce-sucess-response">Thanks for Signing up</span>

                    <div id="mc_embed_signup">
                        <div class="response btmbox_heading" style="display: none">
                            <h1 id="mce-success-response"></h1>
                        </div>
                        <form id="signup-form" action="#">
                            <div class="mc-field-group col s12 m5">
                                <label for="EMAIL">Email Address </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="js-Email">
                            </div>
                            <div class="mc-field-group  col s12 m5">
                                <label for="FNAME">First Name </label>
                                <input type="text" value="" name="FNAME" class="" id="js-Name">
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" id="b_91325" name="b_91325" tabindex="-1" value="">
                            </div>
                            <div class="col s12 m2"><button type="submit" class="waves-effect waves-light btn-large submit"><i class='fa fa-chevron-circle-up left' aria-hidden='true'></i> Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
