@page
@model IndexModel
@{
    ViewData["Title"] = "The Super Solider - Origin Story Fitness | Ben Mudge ";
}
<div class="main_container">
    <div class="signup-container">
        <div class="signup ">
            <div class="signup_logo-container ">
                <div class="signup_logo slideInLeft">
                    <div class="logo">
                        <div class="logo_inner">
                            <img class="logo_logo" src="~/images/supersoilderl_Logo.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="spacer">

        <div class="signup_btmbox">
            <div class=" row"></div>
            <span class="btmbox_heading">Sign up to our news letter and you'll be the first to know when The SuperSoilder is released!</span>
            <div class="row">

                <div class="input-field col s12 m5">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>

                <div class="input-field col s12 m5 ">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12 m2">
                    <a class="waves-effect waves-light btn-large submit"> <i class="fa fa-chevron-circle-up left" aria-hidden="true"></i> Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="features ">
        <div class="featurelist element-hidden">
            <div class="featurelist_inner">

                <div class="featureitem featureitem--guide">
                    <div class="featureitem_inner"><div class="feature_text"><h2 class="feature_heading">In-depth guide to training & nutrition guide</h2><p> These guides will help you set you on your path to unlocking your inner hero.</p></div></div>
                </div>
                <div class="featureitem featureitem--phase">
                    <div class="featureitem_inner"><div class="feature_text"><h2 class="feature_heading">3 phases of training</h2> each consiting of 3 Fitness training sessions and 3 Posture correction sessions, become a true Super Soilder</div></div>
                </div>
                <div class="featureitem featureitem--checkin">
                    <div class="featureitem_inner"><div class="feature_text"><h2 class="feature_heading">Regular Check Ins & Access To Trainerize</h2> You'll also get regular check ins to make sure you are on track to meet your goals, and access to Trainerize to maximize your potential. </div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span class="footer_content">The Super Soilder, Origin Story Fitness & all related materials are &copy; <a href="https://www.benmudge.com" alt="Ben Mudge.com">Ben Mudge 2018</a> </span>
        <span class="footer_content"><a href="mailto:Stu@stewart-palmer.com">Website By Stewart Palmer</a></span>


    </div>
</div>
