@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="grid_container">
    <div class="grid_item grid_item--logo">
        <div class="grid_item_inner">
            <br />
            <br />
            <h1><i class="fa fa-code" aria-hidden="true"></i> HEY I'll BE A LOGO</h1>
        </div>
    </div>
    <div class="grid_item grid_item--feature">
        <div class="grid_item_inner">
            <img src="~/assets/images/osf_final.svg" />
            <div class="text_area">
                <div class="text_area_inner">
                    <p>Train like a Hero, and start your origin story today! </p>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_item grid_item--signup">    
        <div class="row signupform form-cotainer">
            <div class="row"><h5>Intrested? Sign up!</h5></div>
            <div class="row">
                <div class="col s4">
                    <input placeholder="Name" id="name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="col s4">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="col s4">
                    <a class="waves-effect waves-light btn"><i class="material-icons right"></i>Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid_item grid_item--dummy_one">
    </div>
    <div class="grid_item grid_item--dummy_two">
    </div>
</div>